{% extends 'admin/pages/dashboard.html' %} {% block dashboard_body %}

<!-- Content -->

<div class="posts">
	{% include 'admin/components/search_bar.html' %}

	<div class="post_add">
		<a href="/admin/post/add" class="btn btn-primary">Create new</a>
	</div>

	<table class="data">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Date</th>
				<th>Comments</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>1</td>
				<td>First post</td>
				<td>2000-07-01</td>
				<td>5</td>
				<td>
					<button type="button" class="visibility-btn">
						<i class="bi bi-eye-slash"></i>
					</button>

					<button type="button" class="edit-btn">
						<i class="bi bi-pencil-square"></i>
					</button>

					<button type="button" class="remove-btn">
						<i class="bi bi-trash-fill"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
