@import '../global.css';

/* Navbar */

.navbar {
	padding: 1.5rem 0;
}

.navbar_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar_menu {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar_menu .logo {
	padding-bottom: 0.35rem;
}

.navbar_links {
	gap: 1rem;
	align-items: center;
}

.navbar_links a {
	color: var(--dark-bordeaux);
	font-weight: 500;
	font-size: 1rem;
}

.navbar_links a:hover {
	color: var(--deep-crimson);
}

.navbar_search form {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.navbar_search input {
	border: 1px solid var(--dark-bordeaux);
	padding: 0.5rem 0.8rem;
	border-radius: var(--medium-rounded);
}

.navbar_search button {
	padding: 0.5rem;
	background-color: var(--deep-crimson);
	border-radius: 50%;
	color: var(--app-white);
	height: 40px;
	width: 40px;
}
