.add_post_form {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 1rem;
}

#editor {
	height: 100%;
	width: 100%;
	flex: 1;
}

.ql-container {
	height: 100%;
}

.ql-editor {
	height: 100%;
	box-sizing: border-box;
}

.add_post_field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.add_post_field label {
	font-size: 0.9rem;
	font-weight: 500;
}
