@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');
@import './reset.css';

:root {
	--app-white: #fefefe;
	--light-gray: #f2f2f2;
	--orange-peel: #fe6c2b;
	--fiery-red: #d43b2d;
	--deep-crimson: #9f102c;
	--dark-bordeaux: #340016;
	--midnight-black: #020001;

	--small-rounded: 0.1rem;
	--medium-rounded: 0.3rem;
	--large-rounded: 0.5rem;

	--link-transition: all 0.3s ease-in-out;
	--btn-transition: all 0.3s ease-in-out;

	--playwrite-cz-font: 'Playwrite CZ', cursive;

	--container-maxw: 1280px;
}

html,
body {
	background-color: var(--app-white);
	scroll-behavior: smooth;
}

.container {
	max-width: var(--container-maxw);
	width: 100%;
	margin: 0 auto;
	padding: 0 0.5rem;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo img {
	height: 40px;
}

.logo span {
	font-family: var(--playwrite-cz-font);
	color: var(--dark-bordeaux);
	font-size: 1.2rem;
	font-weight: 900;
	display: flex;
	gap: 0.2rem;
	align-items: center;
}

.logo .detail {
	color: var(--deep-crimson);
}

.page_content {
	min-height: calc(100vh - 400px);
	padding: 3rem 0;
}

.page_title {
	font-family: var(--playwrite-cz-font);
	margin-bottom: 1.5rem;
	text-transform: capitalize;
}

.page_title,
.page_info {
	text-align: center;
}

.page_info {
	margin-bottom: 3rem;
	font-size: 1rem;
	font-weight: 300;
}

.btn {
	color: var(--app-white);
	text-transform: uppercase;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: var(--medium-rounded);
	padding: 0.5rem;
}

.btn:hover {
	opacity: 0.9;
}

.btn.btn-primary {
	background-color: var(--dark-bordeaux);
}

.btn.btn-secondary {
	background-color: var(--deep-crimson);
}

.time_card {
	position: absolute;
	background-color: var(--orange-peel);
	color: var(--app-white);
	font-weight: 400;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: var(--small-rounded);
	display: flex;
	gap: 0.3rem;
	justify-content: center;
	align-items: center;
	bottom: 0.2rem;
	right: 0.2rem;
	z-index: 1;
}
