<a href="#" class="banner_card">
	<div class="banner_card_img">
		<img src="{{ base_url }}/assets/img/revenue.jpg" alt="Revenue" />
		<span>$ 3.15</span>
	</div>

	<div class="banner_card_info">
		<h4>Zucchini spaghetti with chicken</h4>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsa
			dolorem ea saepe enim ducimus itaque, reiciendis, corporis quis iure hic
			aliquid cum nesciunt consequuntur dignissimos incidunt facilis nulla
			repellat.
		</p>
	</div>
</a>
