<div class="banner">
	<div class="container">
		<div class="banner_content">
			<div class="banner_inner">
				<div class="banner_cards">
					{% include 'site/components/banner_card.html' %} {% include
					'site/components/banner_card.html' %}
				</div>

				<div class="banner_info">
					<h2 class="banner_sub_title">Health and pleasure</h2>
					<h1 class="banner_title">Fit recipes</h1>
					<p class="banner_text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quod
						sequi itaque sit quisquam cumque minima assumenda voluptate!
						Nesciunt in impedit unde totam, quidem voluptatem repellendus ad
						voluptate beatae vitae!
					</p>
					<button class="btn btn-secondary">Access now</button>
				</div>
			</div>
		</div>
	</div>
</div>
