<div class="footer">
	<div class="container">
		<footer class="footer_content">
			<div class="footer_row">
				<div class="footer_col">
					{% include 'site/components/logo.html' %}

					<p class="footer_info">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
						ad obcaecati dolorum laborum illo, ea quas, fugit sint dicta
						tenetur, assumenda quae odio aliquam quam totam quasi unde veritatis
						cumque?
					</p>
				</div>

				<div class="footer_col">
					<h4 class="footer_title">Menu</h4>

					<ul class="footer_links">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li>
							<ul class="footer_social_list">
								<li>
									<a href="#">
										<i class="bi bi-facebook"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="bi bi-instagram"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="bi bi-youtube"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="bi bi-twitter-x"></i>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="bi bi-pinterest"></i>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="footer_col">
					<h4 class="footer_title">Contact us</h4>

					<form class="footer_form">
						<form action="" method="post">
							<input type="hidden" name="csrf" />

							<input type="email" name="email" placeholder="Your best email" />
							<textarea name="message" placeholder="Your message"></textarea>
							<button type="submit" class="btn btn-primary">Send</button>
						</form>
					</form>
				</div>
			</div>

			<p class="footer_acknowledgment">
				Made with <i class="bi bi-heart-fill"></i> by
				<span>Adriano Miranda</span> &copy; 2024
			</p>
		</footer>
	</div>
</div>
