<div class="navbar">
	<div class="container">
		<nav class="navbar_content">
			<div class="navbar_menu">
				{% include 'site/components/logo.html' %}

				<ul class="navbar_links">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li>
						<ul class="navbar_links_social">
							<li>
								<a href="#">
									<i class="bi bi-facebook"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="bi bi-instagram"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="bi bi-youtube"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="bi bi-twitter-x"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="bi bi-pinterest"></i>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="navbar_search">
				<form action="" method="get">
					<input
						type="search"
						name="search"
						placeholder="Search for a recipe"
					/>
					<button type="submit">
						<i class="bi bi-search"></i>
					</button>
				</form>
			</div>

			<div x-data="navbar_toggle" class="navbar_toggle">
				<button type="button" @click="toggle">
					<i class="bi bi-list"></i>
				</button>
			</div>
		</nav>
	</div>
</div>
