<div class="posts_container">
	{% include 'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %} {% include
	'site/components/post_card.html' %}
</div>
