<div class="post_card">
	<div class="post_card_img">
		{% include 'site/components/time_card.html' %}

		<img src="{{ base_url }}/assets/img/revenue.jpg" alt="..." />
	</div>
	<div class="post_card_info">
		<h3 class="post_card_title">Lorem ipsum</h3>
		<p class="post_card_description">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
			praesentium dignissimos corrupti necessitatibus perspiciatis maiores ea
			eaque obcaecati molestiae unde, reiciendis sunt, voluptate ullam
			exercitationem aliquam beatae quos perferendis. Consequuntur.
		</p>
	</div>
	<a href="#" class="btn btn-secondary">Access</a>
</div>
