<div class="post_card">
	<div class="post_card_img">
		{% include 'site/components/time_card.html' %}

		<img src="{{ base_url }}/assets/img/revenue.jpg" alt="..." />
	</div>
	<div class="post_card_info">
		<h3 class="post_card_title">Lorem ipsum</h3>
		<p class="post_card_description">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
			obcaecati inventore et omnis vero, magni ex. Dicta voluptatibus soluta
			beatae mollitia, optio consequatur laborum, ut quos cum reiciendis
			architecto dolorem? Rem, error. Quos cum aliquam blanditiis facere dolores
			illum animi delectus est porro, accusamus repellat ad quaerat adipisci
			totam aperiam voluptatem tenetur in inventore neque quidem aspernatur
			amet. Provident, impedit? Lorem ipsum dolor sit amet consectetur
			adipisicing elit. Praesentium obcaecati inventore et omnis vero, magni ex.
			Dicta voluptatibus soluta beatae mollitia, optio consequatur laborum, ut
			quos cum reiciendis architecto dolorem? Rem, error. Quos cum aliquam
			blanditiis facere dolores illum animi delectus est porro, accusamus
			repellat ad quaerat adipisci totam aperiam voluptatem tenetur in inventore
			neque quidem aspernatur amet. Provident, impedit?
		</p>
	</div>
	<a href="#" class="btn btn-secondary post_card_link">Access</a>
</div>
