{% extends 'site/master.html' %} {% block content %}

<!-- Banner -->

{% include 'site/components/banner.html' %}

<!-- Content -->

<div class="home">
	<div class="page_content">
		<div class="container">
			<h2 class="page_title">Exclusive recipes</h2>
			<p class="page_info">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae soluta
				quisquam neque aperiam reprehenderit blanditiis.
			</p>

			{% include 'site/components/posts_container.html' %}
		</div>
	</div>
</div>

{% endblock %}
