<form action="" class="add_post_form">
	<input type="hidden" name="csrf" value="{{ csrf }}" />

	<div class="add_post_field_row">
		<div class="add_post_field_col">
			<div class="add_post_field">
				<label>Image</label>
				<div x-data="file_image_handler">
					<input
						type="file"
						name="image"
						id="file"
						@change="handleFileChange"
					/>
				</div>
			</div>

			<div class="add_post_field">
				<label>Title</label>
				<input type="text" name="title" placeholder="Post title" />
			</div>

			<div class="add_post_field">
				<label>Slug</label>
				<input type="text" name="Slug" placeholder="Post slug" />
			</div>

			<div class="add_post_field">
				<label>Category</label>
				<select name="category">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
		</div>

		<div class="add_post_field_col">
			<div class="add_post_image_preview"></div>
		</div>
	</div>

	<textarea id="editor" name="body"></textarea>

	<button type="submit" class="btn btn-primary">Create</button>
</form>
