<div class="search_bar">
	<form class="search_bar_form">
		<input type="search" name="search" placeholder="Search" />
		<button type="submit">
			<i class="bi bi-search"></i>
		</button>
	</form>

	<form class="search_bar_order">
		<select name="order">
			<option value="">Order by</option>
			<option value="most_commented">Most commented</option>
			<option value="less_commented">Less commented</option>
			<option value="last">Last</option>
			<option value="older">Older</option>
		</select>
	</form>
</div>
