{% extends 'site/pages/master.html' %} {% block content %}

<!-- Content -->

<div class="about">
	<div class="container">
		<div class="page_content">
			<h1 class="page_title">About us</h1>

			<div class="about_content">
				<div class="about_session">
					<h2 class="about_session_title">
						Who we are and our culinary journey
					</h2>

					<div class="about_session_content">
						<div class="about_session_text">
							<p class="about_paragraph">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
								eaque ut. Nihil ad quaerat facere excepturi ducimus non
								necessitatibus mollitia tempore modi fuga repellat, voluptatum
								ut in natus debitis architecto! Eligendi eius impedit provident
								dolores reiciendis iure consequatur, natus ut nihil architecto
								cupiditate. Ad praesentium commodi ipsum voluptatem. Minus atque
								inventore nisi error accusantium magnam quae repellendus? Sed,
								quos non. Sequi impedit autem enim excepturi facere dolore neque
								eaque iste perspiciatis dignissimos ipsum cumque quae recusandae
								unde, animi ex veniam natus harum magni amet quos similique!
								Nemo mollitia voluptatum atque.
							</p>

							<p class="about_paragraph">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Possimus sed dolores voluptas minima pariatur optio quod.
								Debitis voluptatibus dicta sed assumenda dolore, veritatis eaque
								ipsum quia nesciunt praesentium quaerat quis. Quaerat odio
								delectus sapiente. Error, esse. Ab, ratione quisquam. Cupiditate
								ipsa esse mollitia quod illum reiciendis fugit velit facere,
								odit, nisi suscipit aliquam? Reiciendis quisquam provident
								quidem aspernatur a! Vel.
							</p>
						</div>

						<div class="about_session_img">
							<img src="{{ base_url }}/assets/img/kitchen.jpg" alt="Kitchen" />
						</div>
					</div>
				</div>

				<div class="about_session">
					<h2 class="about_session_title">Goals and inspirations</h2>

					<div class="about_session_content">
						<div class="about_session_text">
							<p class="about_paragraph">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Possimus sed dolores voluptas minima pariatur optio quod.
								Debitis voluptatibus dicta sed assumenda dolore, veritatis eaque
								ipsum quia nesciunt praesentium quaerat quis. Quaerat odio
								delectus sapiente. Error, esse. Ab, ratione quisquam. Cupiditate
								ipsa esse mollitia quod illum reiciendis fugit velit facere,
								odit, nisi suscipit aliquam? Reiciendis quisquam provident
								quidem aspernatur a! Vel.
							</p>

							<p class="about_paragraph">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Possimus sed dolores voluptas minima pariatur optio quod.
								Debitis voluptatibus dicta sed assumenda dolore, veritatis eaque
								ipsum quia nesciunt praesentium quaerat quis. Quaerat odio
								delectus sapiente. Error, esse. Ab, ratione quisquam. Cupiditate
								ipsa esse mollitia quod illum reiciendis fugit velit facere,
								odit, nisi suscipit aliquam? Reiciendis quisquam provident
								quidem aspernatur a! Vel.
							</p>
						</div>

						<div class="about_session_img">
							<img
								src="{{ base_url }}/assets/img/cocktail.jpg"
								alt="Cocktail"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
