{% extends 'site/pages/master.html' %} {% block content %}

<!-- Content -->

<div class="post">
	<div class="page_content">
		<div class="container">
			<div class="post_content">
				<div class="post_info">
					<div class="post_author">
						<p>By: <span>John Doe</span></p>
					</div>

					<span>|</span>

					<div class="post_date">
						<p>7 days ago</p>
					</div>
				</div>

				<div class="post_img">
					<img src="{{ base_url }}/assets/img/revenue.jpg" alt="..." />

					<h1 class="post_title">Post Lorem Ipsum</h1>
				</div>

				<div class="post_body">
					<h2>Lorem lorem</h2>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
						sequi molestiae architecto sunt. Harum soluta iure ratione
						laudantium, iste omnis odio vel obcaecati dolor quam iusto nulla
						eligendi illo ullam! Corporis quos eius sapiente quisquam, odit
						dolorem minus quas officia ipsam? Temporibus fugit odio aliquam
						quisquam omnis pariatur maxime a sequi facilis voluptas quam minima,
						porro soluta voluptates atque amet. Saepe, consequatur! Beatae nulla
						omnis alias, animi sint minima iusto dolorem harum fuga totam eos
						cum earum ipsam quam nam maxime adipisci temporibus. Quae impedit
						velit ab est eligendi iusto!
					</p>

					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui
						suscipit reiciendis nesciunt consectetur voluptas sed numquam,
						deserunt iure debitis incidunt repudiandae aperiam maiores, soluta
						nam esse delectus cupiditate, nobis eius. Repudiandae sunt,
						temporibus assumenda ullam labore pariatur odio provident.
						Architecto, quidem fugiat id vero mollitia reprehenderit, esse
						excepturi exercitationem, rerum provident aut minus possimus dolor
						ex voluptas veritatis incidunt harum?
					</p>

					<h2>Ipsum ipsum</h2>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
						quasi incidunt cupiditate non quisquam fugit quod earum repudiandae,
						doloribus impedit natus eum perferendis odit similique ad,
						accusantium error, id molestiae. Voluptatibus illum natus enim quia
						aperiam eligendi consequatur accusamus at accusantium possimus non
						iure, nostrum, nemo nesciunt sit optio architecto quod explicabo
						ipsum adipisci? Facilis nesciunt quaerat reprehenderit placeat
						dolor.
					</p>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
						quasi incidunt cupiditate non quisquam fugit quod earum repudiandae,
						doloribus impedit natus eum perferendis odit similique ad,
						accusantium error, id molestiae. Voluptatibus illum natus enim quia
						aperiam eligendi consequatur accusamus at accusantium possimus non
						iure, nostrum, nemo nesciunt sit optio architecto quod explicabo
						ipsum adipisci? Facilis nesciunt quaerat reprehenderit placeat
						dolor.
					</p>

					<h2>Ipsum ipsum</h2>

					<ul>
						<li>1/2 lorem</li>
						<li>1/2 lorem</li>
						<li>1/2 lorem</li>
						<li>1/2 lorem</li>
						<li>1/2 lorem</li>
						<li>1/2 lorem</li>
					</ul>

					<h2>Tip:</h2>

					<p class="post_highlighted_paragraph">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quod
						nostrum vitae dolorum soluta? Ipsa nobis earum dignissimos
						repudiandae harum cupiditate quis laborum minus iure saepe dolor
						rem, alias quas? Perspiciatis molestias maiores, placeat aliquam nam
						ad soluta exercitationem modi eius aperiam tenetur quae asperiores
						corporis nemo optio. Facilis sapiente officia animi laborum minima
						explicabo ipsam! Optio fuga laborum nostrum.
					</p>
				</div>
			</div>

			<!-- TODO: create -->
			<!-- <div class="previous_and_next_post"></div> -->
		</div>
	</div>
</div>

{% endblock %}
